/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    border: solid black ;
    font-family: "Roboto", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: khaki;
    text-align: center; 
}
.box{
    min-height: 200px;
    max-width: 400px;
    margin: 100px;
    border: solid rgb(245, 237, 237);
    background-color: orange;
    border-radius: 13px;
    box-shadow: 11px 19px 12px rgb(243, 62, 62);
}

.upperbox{
    display: flex;
    margin: 25px 57px;
}

.font{
    padding: 20px;
    font-size: medium;
    font-weight:900;
}
.img{
    padding:20px;
    background-image: url(todolist.png);
    height: 20px;
    background-size:cover;
}

.middlebox{
    margin: 0px 30px ;
    max-width: 370px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(150px , 1fr )); 
    /* border-radius: 1/0px; */
}

.task_container{
    input{
        width: 270px;
        height: 27px;
        border-radius: 16px;
        cursor: pointer;
    }
}

.button_container{
    button{
        width: 50px;
        height: 27px;
        border: solid black;
        border-radius: 16px;
        background-color: rgb(243, 62, 62);
        cursor: pointer;
    }
}

ul li{
    list-style: none;
    font-size: 17px;
    width:270px;

    padding: 12px 8px 12px 19px ;
    user-select: none;
    cursor: pointer;
    position : relative;
}

ul li::before{
    content:' ';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius:50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    right: 0px;
    top : 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: rgb(17, 11, 11);
    line-height:40px;
    text-align: cneter;
    border-radius: 50%;
}
ul li span:hover{
    background: rgb(140, 194, 74);
}
.list_container{
    max-width: 370px;
}